*.DS_Store
*.orig
*.pyc
*.swp
*.rej
*~
/.arcrc
/.bash_history
/bin/arcanist
/bin/libphutil
/.certs
/.config
/.dropbox
/.dropbox-master
/.dvdcss
/.ebooksrc
/.ec2
/.fontconfig
/.fonts
/.freemind
/.history
/.npm
/.offlineimap
/.pip
/.ssh
/.tendril
/.viminfo
/.vim/plugin
/.vim/syntax
/.vim/bundle
/.virtualenvs
/.CFUserTextEncoding
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
/Mail
/Movies
/Music
/Pictures
/Public
/Sites
/blog
/decks
/src
