*.DS_Store
*.orig
*.pyc
*.swp
*~
/.arcrc
/.bash_history
/bin/arcanist
/.cache
/bin/libphutil
/.config/cmus
/.config/configstore
/.dropbox
/.erlang.cookie
/.fzf
/.gem
/.netrc
/.heroku
/.history
/.ipython
/.lesshst
/.npm
/.offlineimap
/.oracle_jre_usage
/papers
/.NERDTreeBookmarks
/.pgcli-history
/.pgcli.log
/playbook.yaml.retry
/.pyenv/
/.pip
/.psql_history
/.pythonhist
/.sqlite_history
/.spectrum
/.ssh
/.tendril
/.tmp
/.vagrant.d/
/.viminfo
/.vim/plugin
/.vim/syntax/*
!/.vim/syntax/html.vim
!/.vim/syntax/markdown.vim
/.vim/bundle
/.vim/plugged
/.virtualenvs
/.CFUserTextEncoding
/.Trash
/blog
/books
/notes
/talks
/tmp
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/VirtualBox VMs/

/Library/*
!/Library/Application\ Support
/Library/Application\ Support/*
!/Library/Application\ Support/Karabiner

/Mail
/Movies
/Music
/Pictures
/Public
/Sites
/blog
/decks
/podcasts
/src
/tbla
/Applications (Parallels)/
/Parallels
