*.DS_Store
*.orig
*.pyc
*.swp
*~
/.arcrc
/.aws
/bin/kubectl
/bin/vi
/bin/helm*
/.cache
/bin/libphutil
/bin/helm
/.boto
/.config/cmus
/.config/direnv/allow
/.config/configstore
/.config/gcloud
/.docker
/.dropbox
/.erlang.cookie
/.httpie/sessions
/.kube
/.fzf
/.config/gcloud/logs
/.gem
/.git
/.gitlab-runner
/.gsutil
/google-cloud-sdk
/.helm
/.history
/.bash_history
/.zsh_history
/.heroku
/.ipython
/.lesshst
/.local
/.netrc
/.node-gyp
/.npm
/.op
/old_mbsync
/.mbsync
/.mbsyncrc
/.mutt/cache
/.oracle_jre_usage
/papers
/.NERDTreeBookmarks
/.pgcli-history
/.pgcli.log
/playbook.yaml.retry
/.pyenv/
/.pip
/.psql_history
/.pythonhist
/.python_history
/.sqlite_history
/.spectrum
/.ssh
/.tendril
/.tmux/plugins
/.tmp
/.vagrant.d/
/.viminfo
/.vim/plugin
/.vim/plugged
/.virtualenvs
/.yarn
/.yarnrc
/.CFUserTextEncoding
/.Trash
/.zsh/creds.sh
/blog
/books
/notes
/talks
/tmp
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/VirtualBox VMs/
/.zcompdump

/Library/*
!/Library/Fonts

/iCloud Drive (Archive)
/Mail
/Movies
/Music
/Pictures
/Public
/Sites
/blog
/decks
/lib
/podcasts
/oldsrc
/src
/retired_src
/tbla
/Applications (Parallels)/
/Parallels
